<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Summarizer | AF011</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel = "stylesheet" href = "Static/Text_Summarizer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="Static/filter_list_2.png" type="image/x-icon">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #030315;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: white; font-family: Shadows Into Light; font-size: 3em;"><strong>Text Summarizer</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/About" style="color: white; font-size: 1.3em; letter-spacing: 0.05em;">ABOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div id="timeline" class="timeline">
    <!-- Limits -->
    <div class="timeline_container left_container">
       <i class="fa-solid fa-gauge-simple-high"></i>
        <div class="timeline_text_box">
            <h2>Limits</h2>
            <p>Text summarization algorithms, including the one used in this tool, exhibit certain limitations that could affect their performance and utility. One significant constraint lies in the dependence on text length. While the summarizer excels in condensing moderately sized texts into concise summaries, longer documents might challenge its efficiency. Extremely lengthy inputs might hinder the algorithm's ability to produce accurate and comprehensive summaries, potentially missing out on crucial information.</p>
            <span class="left_container_arrow"></span>
        </div>
    </div>
    <!-- Capabilities -->
    <div class="timeline_container right_container">
        <i class="fa-solid fa-slash"></i>
        <div class="timeline_text_box" style = "font-family: 'Neucha', cursive;">
            Another limiting factor relates to the handling of complex sentence structures. The summarizer might face difficulties when dealing with convoluted language or intricate sentence constructions. This could impact the accuracy of the summarized content, as it might struggle to distill essential information from complex sentences, leading to a loss of critical details.
            Additionally, the summarizer's output might lack contextual and subjective nuances. As an algorithm-driven tool, it might overlook context-dependent information or subjective aspects within the text. This could affect the depth and completeness of the generated summaries, especially in cases where the meaning heavily relies on the context or subjective interpretation.
            <span class="right_container_arrow"></span>
        </div>
    </div>
    <!-- Challenges -->
    <div class="timeline_container left_container">
        <i class="fa-regular fa-lightbulb"></i>
        <div class="timeline_text_box">
            <h2>Capabilities</h2>
            <p>
Despite these limitations, the text summarizer offers several strengths and capabilities. One of its primary strengths lies in efficiently condensing moderately sized texts into concise yet informative summaries. It excels in extracting key information, identifying essential sentences, and presenting the main ideas within the original text. By focusing on crucial sentences, it provides users with a well-rounded understanding of the content, making it suitable for summarizing articles, essays, or reports.

Moreover, the summarizer accurately identifies and presents relevant keywords associated with the input text. This feature helps users grasp core concepts and themes within the content, aiding in information retrieval and comprehension.</p>
            <span class="left_container_arrow"></span>
        </div>
    </div>



    <!-- Opportunities -->
    <div class="timeline_container right_container">
        <i class="fa-solid fa-handshake"></i>
        <div class="timeline_text_box">
            <h2>Contextual Usage Guidance</h2>
            <p>For optimal usage of this tool, users are advised to input clear, concise, and well-structured texts. Breaking down lengthy documents into smaller, more digestible sections might also enhance the summarization process, ensuring better accuracy and relevance in the generated summaries.</p>
            <span class="right_container_arrow"></span>
        </div>
    </div>
    <!-- Conclusion -->
    <div class="timeline_container left_container">
        <i class="fa-solid fa-list"></i>
        <div class="timeline_text_box">
            <p>It's important to note that while the summarizer has its current limitations, continuous improvements and advancements in algorithmic techniques hold promise for future enhancements. These advancements may expand the tool's scope and improve its accuracy over time, addressing existing constraints and broadening its utility for various text summarization needs.</p>
            <span class="left_container_arrow"></span>
        </div>
    </div>
</div>


    <div id="author_title" class="title" style = "text-align: center;"><h1>Author</h1></div>
    <div id="author_container" class="author_container">
        <div class="Author_pro">
            <img src="Static/Text_Summarizer_CEO_Pro.jfif">
            <div class="info">
                <h2>AF</h2>
                <h3>Badbeast011</h3>
            </div>
            <div class="author_details" >
                <p>This website, which showcases cutting-edge courses in the fields of AI and ML, is a testament to my technical skills, dedication, and ability to tackle complex projects independently. As the sole developer behind the website, I embraced the challenges, demonstrated my problem-solving abilities, and delivered a high-quality product. I am excited to continue my journey, leveraging my skills to create innovative solutions and provide users with seamless online experiences.</p>
                <p>If you have any queries or issues, I'm here to assist you. Feel free to reach me via email at <a href="mailto:abdulfaheemaf11@gmail.com">abdulfaheemaf11@gmail.com</a>. </p>
                <h3 align="left">Connect with me:</h3>
                <p align="left">
                 <a href="https://linkedin.com/in/abdulfaheem011" target="blank"><i class="fa-brands fa-linkedin"></i></a>
                 <a href="https://github.com/abdulfaheemaf" target="blank"><i class="fa-brands fa-github"></i></a>

                </p>
                <img class="signature" src="Static/AF_Signature.png">
            </div>
        </div>
    </div>
    <footer style="background-color: #c4dccf; color: #000; padding: 2em 5em">
        <p>Thank you for exploring my Text Summarizer!</p>
        <p>This summarizer utilizes an extractive approach to generate summaries.</p>
        <p>I appreciate your interest and encourage meaningful contributions. Please refrain from providing numerical data or source codes in your text submissions.</p>
        <p>Let's create concise and informative summaries together!</p>
        <p style="font-family: Zeyada; font-size: 3em;">@Badbeast011</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
